@function get-padding($screen-size, $padding-px) {
  @return $padding-px * 100% / $screen-size
};

@mixin after($bottom, $left, $width, $height, $url, $transform) {
  &:after {
    position: relative;
    bottom: $bottom;
    left: $left;
    content: "";
    display: block;
    width: $width;
    height: $height;
    background: $url no-repeat center;
    transform: $transform;
  }
}
