$bg-color-light: #ffffff;
$bg-color-dark: #1d2631;
$bg-color-grey: #f2f2f2;
$text-color: rgba(210, 40, 86, 1);
$text-color-grey: rgba(210, 40, 86, .3);
$text-color-dark: #283645;
$text-color-light: #ffffff;
$screen-sm: 320px;
$screen-md: 700px;
$screen-lg: 1000px;
$mobile-menu: #ffffff;
$mobile-menu-hvr: rgba(210, 40, 86, 1);
$mobile-menu-down: rgba(210, 40, 86, .3);
$menu-logo: #ffffff;
$menu-logo-hvr: rgba(210, 40, 86, 1);
$menu-logo-down: rgba(255, 255, 255, .3);
$menu-btn: #ffffff;
$menu-btn-hvr: rgba(210, 40, 86, 1);
$menu-btn-down: rgba(210, 40, 86, .3);
$footer-logo: #283645;
$footer-logo-glasses: #d22856;
$footer-logo-stars: #283645;
$footer-circle: #e9ebec;
$footer-circle-hvr: #283645;
$footer-circle-down: #e9ebec;
$footer-icon: #d22856;
$footer-icon-hvr: #d22856;
$footer-copyright-logo: #d22856;
$footer-copyright-logo-hvr: #283645;
$footer-copyright-logo-down: #bec2c7;
$feedback-arrow: #bec2c7;
$feedback-arrow-hvr: #7e868f;
$feedback-arrow-down: #e9ebec;
