$bg-color-light: #ffffff;
$bg-color-dark: #1d2631;
$bg-color-grey: #f2f2f2;
$text-color: rgba(210, 40, 86, 1);
$text-color-grey: rgba(210, 40, 86, .3);
$text-color-dark: #283645;
$text-color-light: #ffffff;
$screen-sm: 320px;
$screen-md: 660px;
$screen-lg: 960px;
$content-width: 940px;
$mobile-menu: #ffffff;
$mobile-menu-hvr: rgba(210, 40, 86, 1);
$mobile-menu-down: rgba(210, 40, 86, .3);
$menu-logo: #ffffff;
$menu-logo-hvr: rgba(210, 40, 86, 1);
$menu-logo-down: rgba(255, 255, 255, .3);
$menu-btn: #ffffff;
$menu-btn-hvr: rgba(210, 40, 86, 1);
$menu-btn-down: rgba(210, 40, 86, .3);
$footer-logo: #283645;
$footer-logo-glasses: #d22856;
$footer-logo-stars: #283645;
$footer-circle: #e9ebec;
$footer-circle-hvr: #283645;
$footer-circle-down: #e9ebec;
$footer-icon: #d22856;
$footer-icon-hvr: #d22856;
$footer-copyright-logo: #d22856;
$footer-copyright-logo-hvr: #283645;
$footer-copyright-logo-down: #bec2c7;
$feedback-arrow: #bec2c7;
$feedback-arrow-hvr: #7e868f;
$feedback-arrow-down: #e9ebec;
$user-photo-icon: #b5b9be;
$user-photo-icon-hvr: #8d949b;
$user-photo-icon-down: #d22856;
$user-photo-btn-hvr: #d22856;
$user-photo-btn-cancel: #dddfe0;
$user-photo-btn-cancel-hvr: #b5b9be;
$form-field: #e5e5e5;
$form-field-hvr: #283645;
$form-field-focus: #d22856;
$form-btn: #2aab6d;
$form-btn-hvr: #1c9b5e;
$email-link: #d22856;
$email-link-hvr: #283645;
$email-link-down: #bec2c7;
