.ad {
  display: none;
}

@media (min-width: $screen-md) {
  .ad {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 277px;
    padding-bottom: 28px;
    background-color: $bg-color-light;
    &-image {
      width: 46%;
      background: url("../img/24.png") no-repeat center;
      background-position: bottom;
    }
    &-description {
      width: 50%;
      padding-top: 58px;
      padding-bottom: 30px;
      &__header {
        display: block;
        width: 180px;
        margin-top: 37px;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
      }
      &__text {
        width: 295px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      a {
        color: #d22856;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .ad {
    min-height: 345px;
    padding-top: 20px;
    padding-bottom: 68px;
    background-color: $bg-color-grey;
    &-image {
      width: 36%;
      background: url("../img/24-lg.png") no-repeat center;
      background-position: 100% 100%;
    }
    &-description {
      padding-top: 59px;
      width: 58.6%;
      &__header {
        width: 100%;
        margin-top: 36px;
        margin-bottom: 24px;
        line-height: 30px;
      }
      &__text {
        width: 80%;
        margin-bottom: 33px;
        font-weight: 400;
        line-height: 30px;
      }
      a {
        font-weight: 400;
      }
    }
  }
}
