.app-features {
  position: relative;
  padding: 0 0 12px 0;
}

@media (min-width: $screen-md) {
  .app-features {
    padding-top: 70px;
    padding-bottom: 3px;
    padding-left: 50%;
  }
}

@media (min-width: $screen-lg) {
  .app-features {
    display: flex;
    padding-bottom: 0;
    max-width: $content-width;
    padding-top: 360px;
    padding-left: get-padding(940, 10);
    padding-right: get-padding(940, 10);
    margin: 0 auto;
    background: none;
  }
}
