.app-features {
  min-height: 700px;
  padding: 35px 0 20px 0;
  background-image: url("../img/iphone-screen-mobile.png");
  background-color: $bg-color-grey;
  background-repeat: no-repeat;
  background-position: 50% 110%;
}

@media (min-width: $screen-md) {
  .app-features {
    min-height: 380px;
    padding-left: 50%;
    background-position: 10% 110%;
  }
}

@media (min-width: $screen-lg) {
  .app-features {
    display: flex;
    height: 610px;
    padding-left: get-padding(1200, 130);
    padding-right: get-padding(1200, 130);
    background: none;
  }
}
