.app-download {
  padding: 28px get-padding(320, 20) 30px get-padding(320, 20);
  background-color: $bg-color-dark;
  &__header {
    display: none;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 210px;
    margin: 0 auto;
    margin-bottom: 9px;
  }
  &__link {
    width: 47px;
    height: 56px;
    .icon-apple {
      width: 47px;
      height: 56px;
    }
    .icon-android {
      width: 43px;
      height: 47px;
    }
    .icon-microsoft {
      width: 44px;
      height: 41px;
    }
  }
  &__text {
    display: block;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    color: $text-color-light;
  }
}

@media (min-width: $screen-md) {
  .app-download {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-355px);
    width: 300px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0);
    &__header {
      display: block;
      width: 190px;
      min-height: 130px;
      margin: 0 auto;
      margin-bottom: 31px;
      font-size: 40px;
      font-weight: 300;
      line-height: 48px;
      text-align: center;
      color: $text-color-light;
    }
    &__icons {
      margin-bottom: 21px;
    }
    &__text {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media (min-width: $screen-lg) {
  .app-download {
    top: 190px;
    transform: translateX(-554px);
    &__header {
      width: 300px;
      margin-bottom: 52px;
      font-size: 50px;
      line-height: 60px;
    }
    &__icons {
      margin-bottom: 42px;
    }
  }
}
