.btn {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color-light;
  background-color: $form-btn;
  border: none;
  outline: none;
  border-radius: 2px;
}

.page-logo__btn {
  background-color: transparent;
}

.form-btn{
  margin-bottom: 36px;
}

.form-message__btn {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.form-btn:hover,
.form-message__btn:hover {
  background-color: $form-btn-hvr;
}

.form-btn:active,
.form-message__btn:active {
  color: rgba(255, 255, 255, .3);
}

@media (min-width: $screen-md) {
  .form-btn {
    width: 300px;
  }
}
