.comments {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-light;
}

@media (min-width: $screen-md) {
  .comments {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: get-padding(700, 40);
    padding-right: get-padding(700, 40);
  }
}

@media (min-width: $screen-lg) {
  .comments {
    max-width: $content-width;
    padding-left: get-padding(940, 10);
    padding-right: get-padding(940, 10);
    margin: 0 auto;
  }
}
