.comments {
  padding-left: get-padding(320, 20);
  padding-right: get-padding(320, 20);
  background-color: $bg-color-light;;
}

@media (min-width: $screen-md) {
  .comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: get-padding(768, 40);
    padding-right: get-padding(768, 40);
  }
}

@media (min-width: $screen-lg) {
  .comments {
    padding-left: get-padding(1200, 130);
    padding-right: get-padding(1200, 130);
  }
}
