.comment-block {
  width: 100%;
  &__wrapper {
    padding-left: get-padding(320, 20);
    padding-right: get-padding(320, 20);
  }
  &:last-of-type {
    .comment-block__block {
      margin-bottom: 0;
    }
  }
  &__photo {
    margin: 0 auto;
    width: 280px;
    height: 180px;
  }
  &  img {
    height: auto;
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    padding: 19px 0 19px get-padding(320, 20);
    margin-bottom: 20px;
    font-weight: 700;
    background-color: $bg-color-grey;
  }
  &__time {
    margin-left: 4px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
  }
  &__likes-wrapper {
    display: flex;
  }
  &__heart {
    width: 14px;
    height: 13px;
  }
  &__likes {
    margin-left: 18px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d22856;
  }
}

@media (min-width: $screen-md) {
  .comment-block {
    width: 300px;
    &__wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    &__photo {
      width: 300px;
      height: 300px;
    }
    &__block {
      align-content: flex-start;
      min-height: 120px;
      padding-top: 25px;
      padding-bottom: 10px;
      padding-left: 26px;
      padding-right: 30px;
    }
    &__likes-wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
    &__likes {
      order: 1;
      width: 100%;
      margin-left: 0;
      padding-left: 0;
    }
    &__heart {
      order: 2;
    }
  }
}

@media (min-width: $screen-lg) {
  .comment-block {
    width: 32%;
    font-size: 14px;
    &__photo {
      height: 400px;
    }
    &__block {
      margin-bottom: 55px;
    }
  }
}
