.feature {
  width: 100%;
  margin-bottom: 38px;
  text-align: center;
  &__header {
    margin-bottom: 19px;
    font-size: 18px;
    font-weight: 700;
    line-height: 10px;
    color: #000000;
  }
  &__text {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-weight: 400;
  }
  &:last-of-type {
    .feature__text {
      width: 90%;
    }
  }
}

@media (min-width: $screen-md) {
  .feature {
    text-align: left;
    margin-bottom: 41px;
    &__text {
      width: 88%;
      margin: 0;
      font-weight: 400;
    }
    &-last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $screen-lg) {
  .feature {
    position: relative;
    height: 250px;
    padding-top: 3px;
    margin-bottom: 0;
    text-align: center;
    &:before {
      position: absolute;
      top: -355px;
      margin: 0 auto;
      content: "";
      display: block;
      width: 100%;
      height: 302px;
      background: url("../img/iphone-screen-desktop-1@1x.png") no-repeat center;
    }
    &__header {
      display: block;
      width: 62%;
      margin: 0 auto;
      margin-bottom: 25px;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
    }
    &__text {
      width: 75%;
      margin: 0 auto;
      font-size: 18px;
      line-height: 30px;
    }
  }
  .feature:nth-child(1) {
    width: 32%;
    .feature__text {
      width: 80%;
    }
  }
  .feature:nth-child(2) {
    width: 36%;
    &:before {
      background: url("../img/iphone-screen-desktop-2@1x.png") no-repeat center;
    }
    .feature__text {
      width: 70%;
    }
  }
  .feature:nth-child(3) {
    width: 32%;
    &:before {
      background: url("../img/iphone-screen-desktop-3@1x.png") no-repeat center;
    }
    .feature__header {
      width: 100%;
    }
    .feature__text {
      width: 80%;
    }
  }
}
