.feedback {
  width: 100%;
  text-align: center;
  &__header {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
  span {
    display: none;
  }
  &__link {
    display: none;
  }
  &__text {
    display: block;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 30px;
  }
}

@media (min-width: $screen-md) {
  .feedback {
    display: flex;
    flex-direction: column;
    &__header {
      order: 2;
      margin-bottom: 2px;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
    }
    span {
      display: block;
      order: 3;
      margin-bottom: 30px;
      line-height: 30px;
    }
    &__text {
      order: 1;
      min-width: 620px;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
    }
  }
}

@media (min-width: $screen-md) {
  .feedback {
    &:before {
      width: 79px;
      height: 63px;
    }
    &__header {
      font-size: 24px;
    }
    &__text {
      width: 60%;
      margin-top: 30px;
    }
  }
}

@media (min-width: $screen-lg) {
  .feedback {
    &__inner {
    }
    &__link {
      display: inline-block;
      width: 22px;
      height: 41px;
    }
    &__link:first-child {
      margin-right: 40px;
    }
    &__link:last-child {
      margin-left: 40px;
    }
    &__arrow {
      fill: $feedback-arrow;
    }
    &__arrow:hover {
      fill: $feedback-arrow-hvr;
    }
    &__arrow:active {
      fill: $feedback-arrow-down;
    }
    &__text {
      display: inline-block;
      margin: 0 auto;
    }
  }
}
