.feedbacks {
  padding: 27px 0 30px 0;
  background-color: $bg-color-light;
  &__slider-switcher {
    display: none;
  }
  &__switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    margin: 0 auto;
    label {
      width: 6px;
      height: 6px;
      cursor: pointer;
      border-radius: 50%;
      background: #bec2c7;
      &:first-of-type {
        border: 3px solid $bg-color-dark;
        background: $bg-color-light;
      }
    }
    label:hover {
      background: #7e868f;
    }
    label:active {
      background: #e9ebec;
    }
  }
}

@media (min-width: $screen-md) {
  .feedbacks {
    padding-top: 67px;
    padding-bottom: 17px;
    &__switcher {
      width: 75px;
      label {
        width: 7px;
        height: 7px;
        margin: 0 8px;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .feedbacks {
    position: relative;
    max-width: $content-width;
    padding-left: get-padding(940, 10);
    padding-right: get-padding(940, 10);
    margin: 0 auto;
    padding-top: 185px;
    padding-bottom: 5px;
    &:before {
      position: absolute;
      top: 72px;
      left: 50%;
      margin-left: -40px;
      content: "";
      display: block;
      width: 79px;
      height: 63px;
      background: url("../img/icon-quotes.svg") no-repeat center;
    }
    &__switcher {
      display: none;
    }
  }
}
