.footer-links {
  display: flex;
  width: 180px;
  min-height: 52px;
  padding-left: 0;
  margin: 0 auto;
  margin-bottom: 40px;
  &__item {
    width: 52px;
    height: 51px;
    margin-right: 12px;
    font-size: 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    position: relative;
    display: block;
    width: 52px;
    height: 51px;
    &  .circle {
      fill: $footer-circle;
    }
    &  .footer-icon {
      fill: $footer-icon;
    }
    .icon-tw {
      position: absolute;
      top: 19px;
      left: 17px;
    }
    .icon-fb {
      position: absolute;
      top: 17px;
      left: 21px;
    }
    .icon-ytb {
      position: absolute;
      top: 19px;
      left: 20px;
    }
  }
  &__link:hover {
    &  .circle {
      fill: $footer-circle-hvr;
    }
    &  .footer-icon {
      fill: $footer-icon-hvr;
    }
  }
  &__link:active {
    opacity: .3;
    &  .circle {
      fill: $footer-circle;
    }
    &  .footer-icon {
      fill: $footer-icon;
    }
  }
}

@media (min-width: $screen-md) {
  .footer-links {
    margin-bottom: 0;
  }
}
