.footer-copyright {
  width: 50%;
  display: inline-block;
  font-style: normal;
  text-align: center;
  &__link {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 34px;
    margin-left: 10px;
  }
  &__logo {
    fill: $footer-copyright-logo;
  }
  &__logo:hover {
    fill: $footer-copyright-logo-hvr;
  }
  &__logo:active {
    fill: $footer-copyright-logo-down;
  }
}

@media (min-width: $screen-md) {
  .footer-copyright {
    width: 33%;
  }
}
