.form-field {
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
  ::-webkit-input-placeholder {color:$text-color-dark;}
  ::-moz-placeholder          {color:$text-color-dark;}
  :-moz-placeholder           {color:$text-color-dark;}
  :-ms-input-placeholder      {color:$text-color-dark;}
  &__label {
    box-sizing: border-box;
    display: block;
    padding-left: 22px;
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: #d53661;
    &  .screen-sm {
      display: inline;
    }
    &  .screen-lg {
      display: none;
    }
  }
  input {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 0 15px 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $text-color-dark;
    border: 2px solid $form-field;
    border-radius: 2px;
  }
  input:hover {
    border-color: $form-field-hvr;
  }
  input:focus {
    outline: none;
    border-color: $form-field-focus;
  }
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 201px;
    padding-top: 14px;
    padding-left: 19px;
    padding-right: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $text-color-dark;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    resize: none;
    white-space: normal;
    text-align: justify;
  }
  &__textarea:focus {
    outline: none;
  }
}

.form-block--grey {
  .form-field {
    display: flex;
    box-sizing: border-box;
    &__input-checkbox,
    &__input-radio {
      display: none;
    }
    &__label {
      box-sizing: border-box;
      position: relative;
      width: 100%;
      padding-left: 69px;
      margin-bottom: 36px;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      text-align: left;
      text-transform: none;
      color: $text-color-dark;
      cursor: pointer;
    }
    &__label-radio {
      margin-bottom: 29px;
    }
    &__label-checkbox:before {
      position: absolute;
      top: -5px;
      left: 0;
      content: "";
      display: block;
      width: 35px;
      height: 35px;
      border: 2px solid $form-field;
      background: $bg-color-light;
    }
    &__label-radio:before {
      position: absolute;
      top: -5px;
      left: 0;
      content: "";
      display: block;
      width: 36px;
      height: 36px;
      border: 2px solid #e5e5e5;
      border-radius: 50%;
      background: $bg-color-light;
    }
    &__label-checkbox:hover:before,
    &__label-radio:hover:before {
      border-color: $form-field-hvr;
    }
    &__label-checkbox:active:before,
    &__label-radio:active:before {
      border-color: $form-field-focus;
    }
    input[type="checkbox"]:checked + .form-field__label-checkbox:before {
      background: url("../img/icon-yes-red.svg") no-repeat center;
    }
    input[type="radio"]:checked + .form-field__label-radio:before {
      background: url("../img/icon-map-marker.svg") no-repeat center;
    }
  }
  .form-field:last-child {
    .form-field__label {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $screen-md) {
  .form-field {
    display: flex;
    align-items: baseline;
    margin-bottom: 52px;
    &__label {
      padding-left: 0;
      &  .screen-sm {
        display: none;
      }
      &  .screen-lg {
        display: inline;
      }
    }
    input {
      margin-left: 19px;
    }
  }
  .form-block:nth-child(1) {
    .form-field:last-child {
      margin-bottom: 0;
    }
  }
  .form-block--grey {
    .form-field {
      &__label {
        text-align: left;
        padding-left: 60px;
      }
    }
  }
  .form-block:nth-child(2) {
    .form-field {
      margin-bottom: 16px;
    }
  }
  .form-block:nth-child(3) {
    .form-field {
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-bottom: 24px;
      &__label {
        margin-left: 20px;
      }
      input {
        position: relative;
        margin-bottom: 10px;
        margin-left: 0;
        background-image: url("../img/phone.png");
        background-repeat: no-repeat;
        background-position: 96%;
      }
      input[type="email"] {
        background-image: url("../img/mail.png");
      }
    }
    .form-field:last-of-type {
      margin-bottom: 0;
    }
  }
  .form-block:nth-child(4) {
    .form-field {
      margin-bottom: 15px;
    }
  }
  .form-block:nth-child(5) {
    .form-field {
      margin-bottom: 0;
      &__textarea {
        min-height: 193px;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .form-field {
    &__label {
      font-size: 14px;
    }
  }
  .form-field:last-child {
    margin-bottom: 0;
  }
  .form-block:nth-child(2) {
    .form-field {
      box-sizing: border-box;
      width: 260px;
      &__label {
        text-transform: none;
      }
    }
    .form-field:nth-child(1) {
      order: 1;
    }
    .form-field:nth-child(2) {
      order: 4;
    }
    .form-field:nth-child(3) {
      order: 2;
    }
    .form-field:nth-child(4) {
      order: 5;
    }
    .form-field:nth-child(5) {
      order: 3;
    }
    .form-field:nth-child(6) {
      order: 6;
    }
  }
  .form-block:nth-child(3) {
    .form-block__header {
      margin-bottom: 25px;
    }
    .form-field {
      width: 375px;
      margin-bottom: 0;
      input {
        background-position: 94%;
      }
    }
  }
  .form-block:nth-child(4) {
    .form-field {
      padding-left: 75px;
    }
  }
  .form-block:nth-child(5) {
    .form-field {
      &__textarea {
        min-height: 128px;
      }
    }
  }
}
