.form-block {
  display: flex;
  margin: 0;
  padding: 40px get-padding(320, 20) 30px get-padding(320, 20);
  background-color: $bg-color-light;
  border: none;
  &__header {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 35px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #d53661;
  }
  &  .hidden {
    display: none;
  }
  &__required-fields {
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    span {
      color: #d53661;
    }
    .screen-lg {
      display: none;
    }
  }
}

.form-block--grey {
  background-color: $bg-color-grey;
}

.form-block:nth-child(6) {
  flex-direction: column;
}

@media (min-width: $screen-md) {
  .form-block {
    padding: 0;
    margin-bottom: 50px;
    &__header {
      margin-bottom: 40px;
    }
    &  .hidden {
      display: inline;
    }
    &__required-fields {
      float: right;
      width: 61%;
    }
  }
  .form-block--grey {
    padding: 0;
    background-color: $bg-color-light;
  }
  .form-block:nth-child(1) {
    order: 1;
  }
  .form-block:nth-child(2) {
    order: 4;
    padding-left: 55px;
    padding-right: 55px;
    border: 2px solid #e5e5e5;
  }
  .form-block:nth-child(3) {
    order: 3;
    padding-left: 55px;
    padding-right: 55px;
    border: 2px solid #e5e5e5;
  }
  .form-block:nth-child(4) {
    order: 2;
    padding-left: 55px;
    padding-right: 55px;
    border: 2px solid #e5e5e5;
  }
  .form-block:nth-child(5) {
    order: 5;
    padding-left: 55px;
    padding-right: 55px;
    border: 2px solid #e5e5e5;
  }
  .form-block:nth-child(6) {
    display: block;
    order: 6;
    //flex-direction: row;
  }
}

@media (min-width: $screen-lg) {
  .form-block {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      //flex-direction: column;
    }
  }
  .form-block:nth-child(1) {
    width: 45%;
  }
  .form-block:nth-child(2) {
    width: 100%;
  }
  .form-block:nth-child(3) {
    flex-direction: row;
    width: 100%;
  }
  .form-block:nth-child(4) {
    width: 35%;
    padding-left: 70px;
    padding-right: 0;
  }
  .form-block:nth-child(5) {
    width: 100%;
    padding-bottom: 40px;
  }
  .form-block:nth-child(6) {
    width: 100%;
    .form-block__required-fields {
      text-align: right;
      .screen-lg {
        display: inline;
        color: $text-color-dark;
      }
    }
  }
}
