@media (min-width: $screen-md) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: get-padding(700, 40);
    padding-right: get-padding(700, 40);
    background-color: $bg-color-light;
  }
}

@media (min-width: $screen-lg) {
  .form-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: $content-width;
    padding-left: get-padding(940, 10);
    padding-right: get-padding(940, 10);
    margin: 0 auto;
  }
}
