@media (min-width: $screen-md) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: get-padding(700, 40);
    padding-right: get-padding(700, 40);
    background-color: $bg-color-light;
  }
}

@media (min-width: $screen-lg) {
  .form-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: get-padding(1200, 130);
    padding-right: get-padding(1200, 130);
  }
}
