.map {
  position: relative;
  width: 100%;
  height: 200px;
  &:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat center;
    z-index: 1;
  }
}

@media (min-width: $screen-md) {
  .map {
    height: 378px;
    &:before {
      height: 73px;
      background-size: auto 73px;
    }
  }
}

@media (min-width: $screen-lg) {
  .map {
    height: 500px;
    &:before {
      height: 125px;
      background-size: auto 125px;
    }
  }
}
