.page-header {
  width: 100%;
  height: 458px;
  background-image: url("../img/iphone-hand-mobile.png"), url("../img/bg-back-mobile.jpg");
  background-color: $bg-color-dark, $bg-color-dark;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 50% 0;
  background-size: auto 290px, auto 458px;
}

.page-header--sm {
  height: 237px;
  background-image: url("../img/bg-back-mobile.jpg");
  background-position: 50% -3px;
  background-size: auto 462px;
  .page-header__header {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    color: $text-color-light;
  }
  .page-header__header-wide {
    width: 80%;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: $screen-md) {
  .page-header {
    height: 729px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 75% 100%, 50% 0;
    background-size: auto 550px, auto 729px;
  }
  .page-header--sm {
    height: 440px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 0;
    background-size: auto 729px;
    .page-header__header {
      font-size: 50px;
      line-height: 60px;
    }
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    }
    .page-header.page-header--sm {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: $screen-lg) {
  .page-header {
    height: 853px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop.jpg");
    background-position: 74% 100%, 50% 0;
    background-size: auto auto, auto 853px;
  }
  .page-header--sm {
    height: 394px;
    background-image: url("../img/bg-back-desktop.jpg");
    background-position: 50% 0;
    background-size: auto 853px;
    .page-header__header {
      max-width: $content-width;
      width: 370px;
      padding-left: get-padding(940, 10);
      padding-right: get-padding(940, 10);
      margin: 0 auto;
    }
    .page-header__header-wide {
      max-width: $content-width;
      width: 750px;
      padding-left: get-padding(940, 10);
      padding-right: get-padding(940, 10);
      margin: 0 auto;
    }
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    }
  }
}
