@media (max-width: $screen-md) {
  .page-index {
    .page-footer {
      display: none;
    }
  }
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: $bg-color-light;
}

@media (min-width: $screen-md) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: $bg-color-light;
  }
}

@media (min-width: $screen-lg) {
  .page-footer {
    max-width: $content-width;
    padding-left: get-padding(940, 10);
    padding-right: get-padding(940, 10);
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 70px;
  }
  .page-footer--lg {
    padding-top: 97px;
  }
}
