@media (max-width: $screen-md) {
  .page-index {
    .page-footer {
      display: none;
    }
  }
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: $bg-color-light;
}

@media (min-width: $screen-md) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: $bg-color-light;
  }
}

@media (min-width: $screen-lg) {
  .page-footer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
