.page-logo {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 18px;
  border-bottom: 1px solid #000000;
  background: #283645;
  //background: rgba(0, 0, 0, .3);
  &__link {
    width: 75px;
    height: 22px;
    margin-left: 20px;
    text-decoration: none;
  }
  &__image {
    width: 75px;
    height: 22px;
  }
  &__btn {
    float: right;
    width: 50px;
    height: 24px;
    margin-right: 20px;
    background: url("../img/icon-menu-burger.svg") no-repeat center;
    border: none;
    outline: none;
  }
}

@media (min-width: $screen-md) {
  .page-logo {
    padding-top: 43px;
    padding-bottom: 37px;
    &__link {
      margin-left: 40px;
    }
    &__btn {
      margin-right: 40px;
    }
  }
}

@media (min-width: $screen-lg) {
  .page-logo {

  }
}
