.promotion {
  padding: 40px 0 18px 0;
  text-align: center;
  background-color: $bg-color-light;
  &__text {
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    &:first-of-type {
      margin-bottom: 27px;
    }
  }
}

@media (min-width: $screen-md) {
  .promotion {
    padding-top: 48px;
    padding-bottom: 38px;
    &__text {
      margin: 0 auto;
      font-size: 40px;
      line-height: 50px;
      &:first-of-type {
        width: 600px;
        margin-bottom: 0;
      }
      &:last-of-type {
        width: 340px;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .promotion {
    max-width: $content-width;
    padding-left: get-padding(940, 10);
    padding-right: get-padding(940, 10);
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 80px;
    &__text {
      width: 70%;
      font-size: 50px;
      line-height: 60px;
      &:first-of-type {
        width: 100%;
      }
      &:last-of-type {
        width: 50%;
      }
    }
  }
}
