.tariffs {
  position: relative;
  width: 100%;
  padding-top: 105px;
  padding-bottom: 60px;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 50px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__slider-switcher {
    display: none;
  }
  &__switcher {
    display: flex;
    align-items: center;
    width: 75px;
    margin: 0 auto;
    label {
      width: 6px;
      height: 6px;
      cursor: pointer;
      border-radius: 50%;
      background: #bec2c7;
      &:first-of-type {
        border: 3px solid $bg-color-dark;
        background: $bg-color-light;
      }
    }
    label:not(:first-of-type) {
      margin-left: 20px;
    }
    label:hover {
      background: #7e868f;
    }
    label:active {
      background: #e9ebec;
    }
  }
  &__table-wrapper {
    margin-bottom: 30px;
    overflow-x: hidden;
  }
  .table {
    text-transform: uppercase;
    width: 700px;
    margin: 0 auto;
    border-collapse: collapse;
    &-header {
      padding-top: 18px;
      padding-bottom: 18px;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      color: $text-color-light;
      background-color: $bg-color-dark;
      border-radius: 2px;
      &:first-of-type {
        display: none;
        background-color: $bg-color-grey;
        border: none;
      }
      &:nth-of-type(3) {
        position: relative;
        border-left: 2px solid $bg-color-light;
        border-right: 2px solid $bg-color-light;
      }
      &:nth-of-type(3):before {
        position: absolute;
        top: 0;
        left: -2px;
        display: block;
        content: "";
        width: 74px;
        height: 73px;
        background-image: url("../img/bg-hit.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
      span {
        display: block;
        font-size: 24px;
        font-weight: 400;
      }
    }
    td {
      padding: 10px 0 10px 10px;
      padding-right: 30px;
      line-height: 30px;
      color: $text-color-dark;
      background-color: $bg-color-light;
      border: 2px solid #e5e5e5;
      .hidden {
        display: inline;
      }
      &:first-of-type {
        display: none;
      }
    }
    .yes {
      &:after {
        content: "";
        display: inline-block;
        vertical-align: top;
        width: 31px;
        height: 21px;
        margin: 0 auto;
        background: url("../img/icon-yes.svg") no-repeat center;
      }
    }
    .no {
      &:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 27px;
        height: 26px;
        margin: 0 auto;
        background: url("../img/icon-no.svg") no-repeat center;
      }
    }
  }
}

@media (min-width: $screen-md) {
  .tariffs {
    padding-top: 92px;
    padding-bottom: 40px;
    &:before {
      height: 60px;
    }
    &__switcher {
      display: none;
    }
    .table {
      width: auto;
      &-header {
        width: 154px;
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 16px;
        &:nth-of-type(3):before {
          width: 61px;
          height: 61px;
        }
        span {
          font-size: 18px;
        }
      }
      &-header:first-of-type {
        display: table-cell;
      }
      td {
        padding: 7px 0 7px 0;
        text-transform: none;
      }
      td:first-of-type {
        display: table-cell;
        padding-left: 15px;
      }
      td .hidden {
        display: none;
      }
      .yes {
        &:after {
          display: block;
        }
      }
      .no {
        &:after {
          display: block;
        }
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .tariffs {
    padding-top: 140px;
    padding-bottom: 80px;
    &:before {
      height: 94px;
    }
    .table {
      &-header {
        width: 237px;
        padding-top: 19px;
        padding-bottom: 19px;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        span {
          font-size: 24px;
        }
      }
      td:first-of-type {
        padding: 15px 0 15px 25px;
      }
    }
  }
}
