.user-photo {
  display: flex;
  flex-direction: column;
  padding: 20px 0 41px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 280px;
    height: 374px;
    margin: 0 auto;
    margin-bottom: 41px;
  }
  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 195px;
    margin: 0 auto;
    margin-bottom: 26px;
    padding-left: 0;
    list-style: none;
  }
  &__item {
    input {
      display: none;
    }
  }
  &__btn {
    display: block;
    cursor: pointer;
  }
  &__icon {
    fill: $user-photo-icon;
  }
  &__icon:hover {
    fill: $user-photo-icon-hvr;
  }
  &__icon:active {
    fill: $user-photo-icon-down;
  }
  .crop-btn {
    width: 44px;
    height: 44px;
  }
  .fill-btn {
    width: 48px;
    height: 43px;
  }
  .contrast-btn {
    width: 32px;
    height: 32px;
  }
  &__range-controls {
    width: 100%;
    height: 20px;
    padding-bottom: 30px;
    margin-bottom: 38px;
    border-bottom: 1px solid #dddfe0;
    &  .scale {
      width: 240px;
      margin: 0 auto;
      border-bottom: 2px solid $text-color-dark;
      &  .bar {
        position: relative;
        top: 8px;
        left: 80.5%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #d22856;
        background-color: $bg-color-grey;
        cursor: pointer;
      }
      &  .bar:hover {
        background-color: #d22856;
      }
    }
  }
  &__form-buttons {
    display: flex;
    flex-direction: column;;
  }
  &__form-btn {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 12px;
    font-weight: 700;
    color: #d22856;
    background-color: transparent;
    border-color: #d22856;
  }
  &__form-btn--cancel {
    margin-bottom: 0;
    color: $user-photo-btn-cancel;
    border-color: $user-photo-btn-cancel;
  }
  &__form-btn:hover {
    color: $text-color-light;
    background-color: $user-photo-btn-hvr;
  }
  &__form-btn:active {
    color: rgba(255, 255, 255, .3);
  }
  &__form-btn--cancel:hover {
    color: $user-photo-btn-cancel-hvr;
    border-color: $user-photo-btn-cancel-hvr;
    background-color: transparent;
  }
  &__form-btn--cancel:active {
    color: #cbced2;
    border-color: $user-photo-btn-cancel-hvr;
    background-color: $user-photo-btn-cancel-hvr;
  }
}

@media (min-width: $screen-md) {
  .user-photo {
    flex-direction: row;
    justify-content: space-between;
    padding:55px get-padding(768, 40) 55px get-padding(768, 40);
    &__image {
      display: block;
      width: 300px;
      height: 400px;
      margin: 0;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 275px;
    }
    &__filters {
      .filters-list {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        &__item {
          width: 100%;
          padding-top: 15px;
          padding-bottom: 10px;
          border-bottom: 1px solid #dddfe0;
          &:before {
            position: relative;
            top: 15px;
            left: 50%;
            transform: translateX(-45%);
            content: "";
            display: block;
            width: 80%;
            height: 2px;
            background-color: $text-color-dark;
          }
          &:after {
            position: relative;
            top: -15px;
            left: 75%;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #d22856;
            background-color: $bg-color-grey;
            cursor: pointer;
          }
          .crop-btn {
            width: 22px;
            height: 22px;
          }
          .fill-btn {
            width: 24px;
            height: 22px;
          }
          .contrast-btn {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    &__range-controls {
      display: none;
    }
    &__form-buttons {
      .user-photo__btn:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .user-photo__outer {
    padding-left: get-padding(1200, 130);
    padding-right: get-padding(1200, 130);
    background-color: $bg-color-light;
    .user-photo {
      padding:60px 60px 60px 80px;
      background-color: $bg-color-grey;
      &__wrapper {
        width: 415px;
      }
      &__filters {
        .filters-list {
          &__item:first-child {
            padding-top: 0;
            &:before {
              top: 21px;
            }
          }
          &__item {
            padding-bottom: 0;
            &:before {
              top: 20px;
            }
            &:after {
              top: -30px;
            }
            .crop-btn {
              width: 44px;
              height: 44px;
            }
            .fill-btn {
              width: 48px;
              height: 43px;
            }
            .contrast-btn {
              width: 32px;
              height: 32px;
            }
          }
          &__item:last-child {
            &:before {
              top: 17px;
            }
            &:after {
              top: -22px;
            }
          }
        }
      }
      &__form-buttons {
        flex-direction: row;
        .user-photo__btn {
          width: 40%;
          margin-bottom: 0;
        }
      }
    }
  }
}
