.user-photo {
  display: flex;
  flex-direction: column;
  padding: 20px 0 41px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 280px;
    height: 374px;
    margin: 0 auto;
    margin-bottom: 41px;
  }
  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 195px;
    margin: 0 auto;
    margin-bottom: 26px;
    padding-left: 0;
    list-style: none;
  }
  &__item {
    input {
      display: none;
    }
  }
  &__btn {
    display: block;
    cursor: pointer;
  }
  &__icon {
    fill: $user-photo-icon;
  }
  &__icon:hover {
    fill: $user-photo-icon-hvr;
  }
  &__icon:active {
    fill: $user-photo-icon-down;
  }
  .crop-btn {
    width: 44px;
    height: 44px;
  }
  .fill-btn {
    width: 48px;
    height: 43px;
  }
  .contrast-btn {
    width: 32px;
    height: 32px;
  }
  &__range-controls {
    width: 100%;
    height: 20px;
    padding-bottom: 30px;
    margin-bottom: 38px;
    border-bottom: 1px solid #dddfe0;
    &  .scale {
      width: 240px;
      margin: 0 auto;
      border-bottom: 2px solid $text-color-dark;
      &  .bar {
        position: relative;
        top: 8px;
        left: 80.5%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #d22856;
        background-color: $bg-color-grey;
        cursor: pointer;
      }
      &  .bar:hover {
        background-color: #d22856;
      }
    }
  }
  &__form-buttons {
    display: flex;
    flex-direction: column;;
  }
  &__form-btn {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 12px;
    font-weight: 700;
    color: #d22856;
    background-color: transparent;
    border-color: #d22856;
  }
  &__form-btn--cancel {
    margin-bottom: 0;
    color: $user-photo-btn-cancel;
    border-color: $user-photo-btn-cancel;
  }
  &__form-btn:hover {
    color: $text-color-light;
    background-color: $user-photo-btn-hvr;
  }
  &__form-btn:active {
    color: rgba(255, 255, 255, .3);
  }
  &__form-btn--cancel:hover {
    color: $user-photo-btn-cancel-hvr;
    border-color: $user-photo-btn-cancel-hvr;
    background-color: transparent;
  }
  &__form-btn--cancel:active {
    color: #cbced2;
    border-color: $user-photo-btn-cancel-hvr;
    background-color: $user-photo-btn-cancel-hvr;
  }
}

@media (min-width: $screen-md) {
  .user-photo {
    flex-direction: row;
    justify-content: space-between;
    padding:57px get-padding(700, 40) 55px get-padding(700, 40);
    &__image {
      display: block;
      width: 300px;
      height: 400px;
      margin: 0;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 275px;
    }
    &__filters {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 0;
    }
    &__item {
      width: 100%;
      padding-top: 7px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dddfe0;
      &:before {
        position: relative;
        top: 12px;
        left: 20%;
        content: "";
        display: block;
        width: 202px;
        height: 2px;
        background-color: $text-color-dark;
      }
      &:after {
        position: relative;
        top: -18px;
        left: 73%;
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #d22856;
        background-color: $bg-color-grey;
        cursor: pointer;
      }
      &:after:hover {
        background-color: #d22856;
      }
    }
    &__item:nth-child(2) {
      padding-top: 24px;
      &:after {
        left: 29%;
      }
    }
    &__item:nth-child(3) {
      padding-top: 21px;
      padding-bottom: 16px;
      &:after {
        top: -12px;
        left: 55%;
      }
    }
    .crop-btn {
      width: 22px;
      height: 22px;
    }
    .fill-btn {
      width: 24px;
      height: 22px;
    }
    .contrast-btn {
      width: 16px;
      height: 16px;
    }
    &__range-controls {
      display: none;
    }
    &__form-buttons {
      align-items: flex-start;
    }
    &__form-btn:first-of-type {
      margin-bottom: 24px;
    }
    &__form-btn {
      width: 256px;
    }
  }
}

@media (min-width: $screen-lg) {
  .user-photo__outer {
    padding-left: get-padding(1200, 130);
    padding-right: get-padding(1200, 130);
    background-color: $bg-color-light;
    .user-photo {
      padding:56px 60px 58px 80px;
      background-color: $bg-color-grey;
      &__wrapper {
        width: 415px;
      }
      &__item {
        padding-top: 0;
        padding-bottom: 0;
        height: 55px;
        &:before {
          top: 19px;
          left: 23.5%;
          width: 288px;
        }
        &:after {
          top: -33px;
          left: 40.5%;
        }
      }
      &__item:nth-child(2) {
        padding-top: 12px;
        padding-bottom: 5px;
        &:before {
          top: 24px;
        }
        &:after {
          top: -27px;
          left: 83%;
        }
      }
      &__item:nth-child(3) {
        padding-top: 14px;
        &:before {
          top: 19px;
        }
        &:after {
          top: -21px;
          left: 62%;
        }
      }
      .crop-btn {
        width: 44px;
        height: 44px;
      }
      .fill-btn {
        width: 48px;
        height: 43px;
      }
      .contrast-btn {
        width: 32px;
        height: 32px;
      }
      &__form-buttons {
        flex-direction: row;
        justify-content: space-between;
      }
      &__form-btn {
        width: 183px;
        margin-bottom: 0;
      }
    }
  }
}
