.user-photo {
  display: flex;
  flex-direction: column;
  padding: 20px 0 41px 0;
  background-color: $bg-color-grey;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 280px;
    height: 374px;
    margin: 0 auto;
    margin-bottom: 41px;
  }
  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 195px;
    margin: 0 auto;
    margin-bottom: 26px;
    padding-left: 0;
    list-style: none;
  }
  &__item {
    input {
      display: none;
    }
  }
  &__btn {
    display: block;
    cursor: pointer;
  }
  &__icon {
    fill: $user-photo-icon;
  }
  &__icon:hover {
    fill: $user-photo-icon-hvr;
  }
  &__icon:active {
    fill: $user-photo-icon-down;
  }
  .crop-btn {
    width: 44px;
    height: 44px;
  }
  .fill-btn {
    width: 48px;
    height: 43px;
  }
  .contrast-btn {
    width: 32px;
    height: 32px;
  }
  &__scale,
  &__bar {
    display: none;
  }
  &__range-controls {
    width: 100%;
    height: 20px;
    padding-bottom: 30px;
    margin-bottom: 38px;
    border-bottom: 1px solid #dddfe0;
    &  .scale {
      width: 240px;
      margin: 0 auto;
      border-bottom: 2px solid $text-color-dark;
      &  .bar {
        position: relative;
        top: 8px;
        left: 80.5%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #d22856;
        background-color: $bg-color-grey;
        cursor: pointer;
      }
      &  .bar:hover {
        background-color: #d22856;
      }
    }
  }
  &__form-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  &__form-btn {
    width: 280px;
    margin-bottom: 12px;
    font-weight: 700;
    color: #d22856;
    background-color: transparent;
    border-color: #d22856;
  }
  &__form-btn--cancel {
    margin-bottom: 0;
    color: $user-photo-btn-cancel;
    border-color: $user-photo-btn-cancel;
  }
  &__form-btn:hover {
    color: $text-color-light;
    background-color: $user-photo-btn-hvr;
  }
  &__form-btn:active {
    color: rgba(255, 255, 255, .3);
  }
  &__form-btn--cancel:hover {
    color: $user-photo-btn-cancel-hvr;
    border-color: $user-photo-btn-cancel-hvr;
    background-color: transparent;
  }
  &__form-btn--cancel:active {
    color: #cbced2;
    border-color: $user-photo-btn-cancel-hvr;
    background-color: $user-photo-btn-cancel-hvr;
  }
}

@media (min-width: $screen-md) {
  .user-photo {
    flex-direction: row;
    justify-content: space-between;
    padding:57px get-padding(700, 40) 55px get-padding(700, 40);
    &__image {
      display: block;
      width: 300px;
      height: 400px;
      margin: 0;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 275px;
    }
    &__filters {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 0;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 7px;
      padding-bottom: 26px;
      border-bottom: 1px solid #dddfe0;
    }
    &__scale {
      display: block;
      position: relative;
      top: -8px;
      width: 202px;
      margin-right: 19px;
      border-bottom: 2px solid $text-color-dark;
    }
    &__bar {
      display: block;
      position: relative;
      top: 14px;
      left: 73%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #d22856;
      background-color: $bg-color-grey;
      cursor: pointer;
    }
    &__bar:hover {
      background-color: #d22856;
    }
    &__item:nth-child(2) {
      .user-photo__bar {
        left: 14%;
      }
      padding-top: 24px;
    }
    &__item:nth-child(3) {
      padding-top: 25px;
      padding-bottom: 28px;
      .user-photo__scale {
        top: -6px;
      }
      .user-photo__bar {
        top: 8px;
        left: 48%;
      }
    }
    .crop-btn {
      width: 22px;
      height: 22px;
    }
    .fill-btn {
      width: 24px;
      height: 22px;
    }
    .contrast-btn {
      width: 16px;
      height: 16px;
    }
    &__range-controls {
      display: none;
    }
    &__form-buttons {
      justify-content: flex-end;
    }
    &__form-btn {
      width: 256px;
      margin-bottom: 0;
    }
    &__form-btn:first-child {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: $screen-lg) {
  .user-photo-outer {
    max-width: $content-width;
    padding-left: get-padding(940, 10);
    padding-right: get-padding(940, 10);
    margin: 0 auto;
    background-color: $bg-color-light;
  }
  .user-photo {
    padding:56px 60px 58px 80px;
    background-color: $bg-color-grey;
    &__wrapper {
      width: 415px;
    }
    &__item {
      padding-top: 0;
      padding-bottom: 0;
      height: 55px;
    }
    &__scale {
      width: 288px;
      top: -33px;
      margin-right: 30px;
    }
    &__bar {
      top: 47px;
      left: 25%;
    }
    &__item:nth-child(2) {
      padding-top: 12px;
      padding-bottom: 5px;
      .user-photo__scale {
        top: -28px;
      }
      .user-photo__bar {
        top: 47px;
        left: 86%;
      }
    }
    &__item:nth-child(3) {
      padding-top: 14px;
      .user-photo__scale {
        top: -33px;
      }
      .user-photo__bar {
        top: 47px;
        left: 55%;
      }
    }
    .crop-btn {
      width: 44px;
      height: 44px;
    }
    .fill-btn {
      width: 48px;
      height: 43px;
    }
    .contrast-btn {
      width: 32px;
      height: 32px;
    }
    &__form-buttons {
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
    }
    &__form-btn {
      width: 183px;
      margin-bottom: 0;
    }
    &__form-btn:first-child {
      margin-bottom: 0;
    }
  }
}
